<% flash.each do |type, msg| %>
    <% if type == "notice" %>
      <div class="notification is-primary">
        <div>
          <%= msg %>
        </div>
      </div>
    <% else %>
      <div class="notification is-danger">
        <div>
          <%= msg %>
        </div>
      </div>
    <% end %>
  <% end %>