<%= render "shared/navbar" %>

<div class="columns m-4">
  <div class="column has-text-centered">
    <div class="box mt-6">
      <h3 class="is-size-4 mb-2">Created Events:</h3>
      <ul>
        <% @user.created_events.each do |event| %>
          <li><%= link_to "#{event.place}", event_path(event.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="column has-text-centered">
    <div class="box mt-6">
      <h3 class="is-size-4 mb-2">Future Events:</h3>
      <% @user.attended_events.each do |event| %>
        <ul>
          <% if event.date > Time.now %>
          <li><%= link_to "#{event.place}", event_path(event.id) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  
  <div class="column has-text-centered">
    <div class="box mt-6">
      <h3 class="is-size-4 mb-2">Past Events:</h3>
      <% @user.attended_events.each do |event| %>
        <ul>
          <% if event.date < Time.now %>
          <li><%= link_to "#{event.place}", event_path(event.id) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

</div>
