<h3>Created Events</h3>
<% @user.created_events.each do |event| %>
  <li><%= p event.place %></li>
<% end %>

<h3>Future Events</h3>
<% @user.attended_events.each do |event| %>
  <% if event.date > Time.now %>
    <li><%= p event.place %></li>
  <% end %>
<% end %>

<h3>Past Events</h3>
<% @user.attended_events.each do |event| %>
  <% if event.date < Time.now %>
    <li><%= p event.place %></li>
  <% end %>
<% end %>
