<%= render "shared/navbar" %>

<%= render "shared/flash" %>

<div class="columns is-centered">
  <div class="column is-3">
    <h1 class="title m-5 mt-6">Edit Event:</h1>
  
    <%= render "shared/form" %>
  </div>
</div>
