<%= render "shared/navbar" %>

<%= render "shared/flash" %>

<div class="container">
  <div class="columns">
    <div class="column is-half has-text-centered mt-6 mb-6">
      <div class="is-size-1 mb-4">Upcoming:</div>
      <ul>
        <%= render "shared/column", :events => @events.upcoming %>
      </ul>
    </div>
  
    <div class="column is-half has-text-centered mt-6 mb-6">
      <div class="is-size-1 mb-4">Past:</div>
      <ul>
        <%= render "shared/column", :events => @events.past %>
      </ul>
    </div>
  </div>
</div>


