
<ul>
  <li><%= p @event.place %></li>
  <li><%= p @event.date %></li>
  <li><%= p @event.creator.email %></li>
</ul>

<%= button_to "Attend", new_event_attendee_path %>


<%# You can create a button in your events.show view that can submit to 
the create route for the through table controller. And yeah, I'd advise 
doing it that way over having the user click twice to attend  %>